[tasks.build]
run = ["cargo check", "cargo build"]

[tasks.changelog]
run = ["npx auto-changelog --hide-credit -u -l 100 -b 100"]

[tasks.format]
run = [
  "taplo format",
  "mise fmt",
  "cargo +nightly fmt",
  "mdsf format --cache .",
  "npx --yes prettier@latest --write --cache .",
]

[tasks.lint]
run = [
  "cargo fmt -- --check --color always",
  "cargo clippy --all-targets --all-features",
]

[tasks.lint-aggressive]
run = [
  "cargo clean",
  "cargo clippy --fix --allow-staged --all-targets --all-features -- -Dclippy::style -Dclippy::perf -Dclippy::pedantic -Dclippy::all -Dclippy::cargo -Dclippy::complexity -Dclippy::nursery -Dclippy::suspicious -Aclippy::module_name_repetitions -Aclippy::missing_errors_doc -Aclippy::must_use_candidate -Aclippy::multiple_crate_versions -Aclippy::needless_raw_strings -Aclippy::needless_raw_string_hashes -Dclippy::std_instead_of_core",
  "cargo clean",
]

[tasks.precommit]
run = [
  "mise changelog",
  "mise tasks r format",
  "mise tasks r build",
  "mise tasks r lint",
  "mise tasks r test",
  "mise tasks r format",
]

[tasks.test]
run = [
  "RUST_BACKTRACE=full cargo nextest run --all-targets --all-features --no-fail-fast --release",
]

[tasks.test-coverage]
run = [
  "cargo llvm-cov clean",
  "cargo llvm-cov --all-features --all-targets --workspace --open",
]
